@font-face {
  font-family: 'tech-font';
  src: url(fonts/Techovier\ .otf) format("opentype"),
    url(fonts/Techovier\ .ttf) format("truetype"),
    url(fonts/Techovier\ Bold.otf) format("opentype"),
    url(fonts/Techovier\ Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'font-impact';
  src: url(fonts/impact.ttf) format("truetype"), ;
}

@font-face {
  font-family: 'font-sora';
  src: url(fonts/Sora-VariableFont_wght.ttf) format("truetype"), ;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxi7m0dR9pBOi.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_vx3rCubqg.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz8_Zwjimrq1Q_.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxC7m0dR9pBOi.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_vx3rCubqg.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz8fZwjimrq1Q_.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRzS7m0dR9pBOi.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_vx3rCubqg.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz-PZwjimrq1Q_.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRxy7m0dR9pBOi.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZwjimrq1Q_.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUQjIg1_i6t8kCHKm459WxRyS7m0dR9pA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  font-style: italic;
  font-weight: 700;
  src: url('//static.parastorage.com/tag-bundler/api/v1/fonts-cache/googlefont/woff2/s/montserrat/v14/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZwjimrqw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'din-next-w01-light';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w10-light.woff2') format('woff2');
  unicode-range: U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491, U+2116;
  font-display: swap;
}

@font-face {
  font-family: 'din-next-w01-light';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w02-light.woff2') format('woff2');
  unicode-range: U+000D, U+0100-010F, U+0111-0130, U+0132-0151, U+0154-015F, U+0162-0177, U+0179-017C, U+01FA-01FF, U+0218-021B, U+0237, U+02C9, U+02D8-02D9, U+02DB, U+02DD, U+0394, U+03A9, U+03C0, U+1E80-1E85, U+1EF2-1EF3, U+2070, U+2074-2079, U+2080-2089, U+2113, U+2126, U+212E, U+2153-2154, U+215B-215E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+F8FF, U+FB00-FB04;
  font-display: swap;
}

@font-face {
  font-family: 'din-next-w01-light';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/fonts/v2/eca8b0cd-45d8-43cf-aee7-ca462bc5497c/v1/din-next-w01-light.woff2') format('woff2');
  unicode-range: U+0020-007E, U+00A0-00FF, U+0110, U+0131, U+0152-0153, U+0160-0161, U+0178, U+017D-017E, U+0192, U+02C6-02C7, U+02DA, U+02DC, U+03BC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2122;
  font-display: swap;
}

@font-face {
  font-family: 'helvetica-w01-roman';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-lt-w10-roman.woff2') format('woff2');
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0, U+00A4, U+00A6-00A7, U+00A9, U+00AB-00AE, U+00B0-00B1, U+00B5-00B7, U+00BB, U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0490-0491, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+20AC, U+2116, U+2122;
  font-display: swap;
}

@font-face {
  font-family: 'helvetica-w01-roman';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-w02-roman.woff2') format('woff2');
  unicode-range: U+000D, U+0020-007E, U+00A0-012B, U+012E-0137, U+0139-0149, U+014C-017E, U+0192, U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0394, U+03A9, U+03BC, U+03C0, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+2113, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+E301-E304, U+E306-E30D, U+FB01-FB02;
  font-display: swap;
}

@font-face {
  font-family: 'helvetica-w01-roman';
  font-style: normal;
  font-weight: 400;
  src: url('//static.parastorage.com/fonts/v2/2af1bf48-e783-4da8-9fa0-599dde29f2d5/v1/helvetica-w01-roman.woff2') format('woff2');
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-012B, U+012E-0137, U+0139-0149, U+014C-017E, U+0192, U+0218-021B, U+0237, U+02C6-02C7, U+02C9, U+02D8-02DD, U+0394, U+03A9, U+03BC, U+03C0, U+0401-040C, U+040E-044F, U+0451-045C, U+045E-045F, U+0462-0463, U+0472-0475, U+0490-0491, U+04D9, U+1E9E, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+20AC, U+20B9-20BA, U+20BC-20BD, U+2113, U+2116, U+2122, U+2126, U+212E, U+2202, U+2206, U+220F, U+2211-2212, U+2215, U+2219-221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265, U+25CA, U+E300-E30D, U+F6C5, U+F6C9-F6D8, U+F8FF, U+FB01-FB02;
  font-display: swap;
}

.container-header {
  background-color: #ffffff;
  forced-color-adjust: auto;
  text-align: center;
}

.container-logo {
  text-align: center;
  padding: 65px;
  font-family: montserrat, sans-serif;
}

.container-menu {
  text-align: center;
  padding: 10px;
}

#special{
  font-weight: 600;
  width: 97%;
}

.link-interno {
  font-family: font-sora, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 300;
  margin: 0 8px;
  font-size: clamp(1.1rem, 2.5vw, 1.2rem);
  transition: 0.5s;
  transition-behavior: smooth;
}
.link-interno:hover {
  color: rgb(157, 154, 154);
  transition: 0.5s;
  font-size: 20px;
  filter: blur(0.1rem);
  transition-behavior: smooth;
}

footer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.container-footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 22px;
  max-width: 1070px;
  min-width: 320px;
  margin: auto;
}

.icon-contact {
  width: 19px; 
}

.logo-saints {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition: 0.4s;
}
.logo-saints:hover {
  transform: scale(0.98);
  transition: 0.4s;
  transition-behavior: smooth;
}

.container-main {
  background-color: black;
  text-align: center;
  padding: 90px;
  max-width: 900px auto;
  margin: 0 auto;
}

#p-direitosreserv {
  font-family: montserrat, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 12px;
  margin: 0 auto;
  overflow: hidden;
  line-height: 1.2;
  word-wrap: break-word;
  width: 95%;
}

.h2-slogan-1 {
  font-family: font-sora, sans-serif;
  color: white;
  font-weight: 200;
  font-size: clamp(1.8rem, 5vw, 3.2rem);
  line-height: 1.25;
  font-weight: 200;
  transition: 
    ease 0.4s
  ;
  transition-behavior: smooth;
}

.h2-slogan-2 {
  font-family: font-sora, sans-serif;
  color: white;
  font-weight: 600;
  font-size: clamp(1.2rem, 4.8vw, 3.2rem);
  line-height: 1.25;
  font-weight: 600;
  transition: 0.4s;
  transition-behavior: smooth;
}

* {
  color-scheme: light;
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scrollbar-color: black white;
  scrollbar-width: thin;
}

.p-global {
  font-family: montserrat, sans-serif;
  font-size: clamp(0.8rem, 3vw, 1rem);
  margin: 20px auto;
  overflow: hidden;
  line-height: 1.5;
  word-wrap: break-word;
  transition: 0.2s;
  transition-behavior: smooth;
}

.p-normal {
  font-family: font-sora, sans-serif;
  font-weight: 200; 
  transform: translate(4%, -21px);
  position: absolute; 
  overflow: hidden;
  overflow-x: auto;
  width: 87%;
}

.toggle-contact {
  display: none;
}

.span-for-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 1px 0;
  transition: 0.3s ease;
}

.ul-global {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.45s ease, opacity 0.3s ease;
  opacity: 0;
  padding-left: 10px;
}

.toggle-contact:checked ~ .ul-global {
  max-height: 500px; 
  opacity: 1;
}

.link-external {
  font-family: font-sora, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 300;
  margin: 0 8px;
  font-size: clamp(0.9rem, 3vw, 1rem);
  transition: 0.5s;
  transition-behavior: smooth;
}
.link-external:visited {
  color: black;
}


@media (max-width: 780px) {
  .p-normal {
    font-size: clamp(0.7rem, 3.5vw, 1rem);
    transform: translate(5%, -21px);
    position: absolute; 
  }
}
@media (min-width: 1000px) {
  .p-normal {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    transform: translate(2%, -21px);
    position: absolute; 
  }
}

.container-main p {
  color: white;
}

.container-triangle {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  position: absolute;
  transform: rotate(180deg) translateY(242.9px) translateX(170px) scale(20%);
}
.container-division-for-footer {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.354);
  margin: 9px 0px;
  padding: 1.2;
}
 
@media(background-color: #000000) {
  .container-header {
    background-color: #ffffff;
  }
  .container-footer {
    background-color: #ffffff;
  }
  footer {
    background-color: #ffffff;
  }
}

@media (max-width: 600px) {
  .container-triangle {
    transform: rotate(180deg) translateY(248.8px) translateX(175px) scale(15%);
  }

  .h2-slogan-1 {
    font-size: clamp(1.5rem, 6vw, 2.5rem);
  }

  .link-interno {
    font-size: clamp(0.6rem, 3.5vw, 1.1rem);
  }
  .link-interno:hover {
    font-size: clamp(0.9rem, 4vw, 1.2rem);
  }
  .p-normal {
    font-size: clamp(0.7rem, 4vw, 1rem);
    transform: translate(7%, -21px);
    position: absolute; 
    width: 85%;
  }
}
@media (max-width: 350px) {
  .container-triangle {
    transform: rotate(180deg) translateY(248.6px) translateX(174px) scale(12%);
  }
  .p-normal {
    font-size: clamp(0.6rem, 4vw, 0.9rem);
    transform: translate(6%, -21px);
    position: absolute; 
  }
}
@media (max-width: 320px) {
  .container-triangle {
    transform: rotate(180deg) translateY(233px) translateX(155px) scale(12%);
  }
  .h2-slogan-1 {
    font-size: 20px;
  }
}
@media (max-width: 310px) {
  .p-normal {
    font-size: clamp(0.5rem, 4.5vw, 0.8rem);
    transform: translate(10%, -21px);
    position: absolute; 
  }
}